nav {
    width: 100%;
    height: 100px;
    background-color :#000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13.33vmax;
    position: sticky;
    top: 0%;
  
    z-index: 60;
    > h2 {
      font-size: 2rem;
      color: blue;
    }
    > div {
      display: flex;
      align-items: center;
      gap: 2rem;
      a {
        color: skyblue;
        font-weight: 500;
        transition: all 0.3s;
        letter-spacing: 1px;
        transform: translateX(100vw) translateY(10%) rotateZ(360deg);
  
        animation: aboutAnimation 1s ease-in forwards;
        
      @keyframes aboutAnimation {
        to {
          transform: translateX(2%) translateY(0%);
        }
      }
      @keyframes aboutAnimationPhone {
        to {
          transform: translateX(0%) translateY(0%);
        }
      }
        &:hover {
          color:  #f26440;
        }
      }
    }
  
    > a > button {
      border: 1px solid #000000;
      padding: 0.5rem 2rem;
      background-color:#000000;
      cursor: pointer;
      color:blue;
      letter-spacing: 1px;
      font-weight: 500;
      transition: all 0.3s;
      &:hover {
        background-color :#000000;
        color:  #f0e4e4;
      }
    }
  }
  
  .navBtn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #b3a6a6;
    font-size: 1.4rem;
    z-index: 150;
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: none;
  
    &:hover {
      color: #f26440;
    }
  }
  
  .navPhone {
    transition: all 0.5s;
    transform: translateY(-200%);
    width: 100%;
    height: 100vh;
    background-color: #b3a6a6;
    padding:  5vmax;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
  
    > h2 {
      font-size: 2rem;
      color:  #f0e4e4;
    }
  
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
  
      a {
        color:  #f0e4e4;
        letter-spacing: 1px;
        font-weight: 500;
        transition: all 0.3s;
        &:hover {
          color: #f26440;
        }
      }
      
    }
  
    > a > button {
      border: 1px solid #000000;
      padding: 0.5rem 2rem;
      background-color: #000000;
      cursor: pointer;
      color:#000000;
      letter-spacing: 1px;
      font-weight: 500;
      transition: 0.5s;
      &:hover {
        background-color :#000000;
        color:  #f0e4e4;
      }
    }
  }
  
  .navPhoneComes {
    transform: translateY(0);
  }
  @media screen and (max-width: 1367px) {
    nav {
      padding: 7vmax;
    }

  }
  
  @media screen and (max-width: 1100px) {
    nav {
      padding: 0 5vmax;
    }

  }
  
  @media screen and (max-width: 900px) {
    nav {
      padding: 02vmax;
      > h2 {
        font-size: 1.8rem;
      }
      > div {
        gap: 1rem;
      }
    }
  }
  
  @media screen and (max-width: 786px) {
    nav {
      > div,
      > a {
        display: none;
      }
    }
    .navBtn {
      display: block;
    }
  }
   